@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

.greetings {
    color: green;
    display: flex;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
}

.box {
    text-align: center;
    background-image: url(./images/basketball.jpeg);
    height: 100vh; 
    width: cover;
    padding: 10px;
    background-size: cover;
}

.hello {
    /* background-color: black; */
    padding: 5px;
    margin: 20px;
    font-size: 70px;
    font-weight: bold;
}

.welcome{
    /* background-color: rgb(196, 181, 181, .8); */
    border-radius: 10%;
    color: black;
    font-size: 20px;
    /* border: 5px dotted black; */
}