.projects {
    background-image: url(./images/multiColor.jpg);
    background-position: center center;
    height: cover; 
    width: cover;
    padding: 10px;
    background-size: cover;
    color: white;
    text-align: center;
}

.projects-section {
    background-color: rgba(27, 25, 25, 0.6);
    padding: 5px;
    margin: 10px;
}